{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table>
        <tr>
             <th> Symbol </th>
             <th> Shares </th>
             <th> Price </th>
             <th> Transaction </th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.symbol}}</td>
            <td>{{transaction.shares}}</td>
            <td>{{transaction.price}}</td>
            <td>{{transaction.transacted}}</td>
        </tr>    
        {%endfor%}
    </table>
{% endblock %}
